{% extends "base.html" %}

{% block title %}Пароль был успешно изменен{% endblock %}

{% block content %}
{% include 'inc/_profile_picture.html' %}
{% load user_filters %}

<div class="container">
    <div class="row">
        <div class="col-md-5 p-5">
            <div class="card">
                <div class="card-header">
                    <h4>Пароль изменен</h4>
                </div>
                <div class="card-body">
                    <p>Пароль был успешно изменен</p>
                    <a href="{% url 'user_login' %}">Вход</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
