{% extends "base.html" %}
{% load static %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}
{% include 'inc/_profile_picture.html' %}
{% load user_filters %}

{% if validlink %}

<div class="container">
    <div class="row">
        <div class="col-md-6 p-5">
            <div class="card">
                <div class="card-header">
                    Пожалуйста введите и подтвердите ваш новый пароль.
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            {{ field.label }}
                            {{ field|addclass:'form-control' }}

                            {% if field.help_text %}
                                    <small id="{{ field.id_for_label }}-help" class="form-text text-muted">{{ field.help_text|safe }}</small>
                            {% endif %}

                            {% endfor %}
                    <div class="reset__button">
                        <button type="submit" class="btn btn-primary">
                            Подтвердить новый пароль
                        </button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% else %}

<div class="container">
    <div class="row">
        <div class="col-md-6 p-5">
            <div class="card">
                <div class="card-header">
                    Ошибка в сбросе пароля..
                </div>
                <div class="card-body">
                    Ссылка для сброса пароля была недействительной, возможно потому, что она уже использовалась. Пожалуйста, запросите сброс нового пароля.
                </div>
            </div>
        </div>
    </div>
</div>

{% endif %}

{% endblock %}
