{% extends 'base.html' %}

{% block title %}Обратная связь | Предложения{% endblock %}

{% block content %}
{% include 'inc/_nav.html' %}

<div class="container">
    <div class="row">
        <div class="col-md-6 p-5">
            <div class="card">
                <div class="card-header">
                    <h2>Обратная связь</h2>
                </div>
                <div class="card-body">
                    {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'error' %}
                            <div class="alert alert-danger" role="alert">
                                {{ message }}
                            </div>
                        {% else %}
                            <div class="alert alert-success" role="alert">
                                {{ message }}
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% endif %}
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Отправить письмо</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

