{% extends 'base.html' %}

{% block title %}Профиль{% endblock %}

{% block content %}
{% include 'inc/_nav.html' %}

<div class="container">
    <div class="row">
        <div class="col-md-6 p-5">
            <div class="search">
                {% include 'inc/_search.html' %}
            </div>
            <div class="card">
                <div class="card-header">
                    <div class="task-header">
                        <h4>Задачи</h4>
                        <a class="add-task-link" href="{% url 'add_task' %}">&#43;</a>
                    </div>
                </div>
                {% for task in tasks %}
                <div class="task-wrapper">
                    {% if task.is_done %}
                        <ul class="list-group list-group-flush">
                            <li class="is-done list-group-item"><i><s>{{ task.title|truncatechars_html:50 }}</a><br>Дата создания задачи: {{ task.created|date:"d M H:i" }}</s></i></li>
                        </ul>
                        <a class="delete-link" href="{% url 'task_delete' task.pk %}">&#10539;</a>
                    {% else %}
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><a href="{{ task.get_absolute_url }}">{{ task.title|truncatechars_html:50 }}</a><br>Дата создания задачи: {{ task.created|date:"d M H:i" }}</li>
                        </ul>
                        <a class="delete-link" href="{% url 'task_delete' task.pk %}">&#10539;</a>
                    {% endif %}
                </div>
                {% empty %}
                <div align="center" class="p-2">
                    <h4>Нет активных задач</h4>
                </div>
                {% endfor %}
            </div>
            <div class="paginator">
                {% include 'inc/_paginator.html' %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
