{% extends 'base.html' %}

{% block title %}Изменить задание{% endblock %}
{% block content %}
{% include 'inc/_nav.html' %}
{% load user_filters %}

<div class="container">
    <div class="row">
        <div class="col-md-6 p-5">
            <div class="card">
                <div class="card-header">
                    <h2>Изменить задание</h2>
                </div>
                <div class="card-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        <p>
                            <label for="id_title">{{ form.title.label }}</label>
                            {{ form.title|addclass:'form-control' }}
                        </p>
                        <p>
                            <label for="id_content">{{ form.content.label }}</label>
                            {{ form.content|addclass:'form-control' }}
                        </p>
                        <p>
                            <label for="id_category">{{ form.category.label }}</label>
                            {{ form.category|addclass:'form-control' }}
                        </p>
                        <p>
                            <label for="id_is_done">{{ form.is_done.label }}</label>
                            {{ form.is_done }}
                        </p>
                        <div class="update__task">
                            <button type="submit" class="btn btn-primary">Изменить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}